* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
}

#pic {
    display: block;
    position: relative;
}

#banner {
    position: absolute;
    width: 480px;
    height: 150px;
    background-color:black;
    opacity: 0.5;
    z-index: 3;
    top: 35vh;
}

#logo {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 330px;
    z-index: 2;
}

#logo>img {
    height: 150px;
}

h2 {
    z-index: 4;
    color: bisque;
    opacity: 1;
    font-size: 55px;
    text-align: center;
    position: relative;
    bottom: 10px;
    font-family: 'Permanent Marker', monospace;
    font-weight:900;
}

#page {
    display: flex;
    flex-direction: row;
    background-color: rgb(251, 242, 230);
}

#formContainer {
    padding: 50px;
}

#formBox {
    display: grid;
    width: 40rem;
    height: 15rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(252, 243, 234);
    box-shadow: 4px 7px 13px -3px rgba(48, 32, 5, 0.48);
    padding: 20px;
    border-radius: 0.5rem;
}

label {
    font-size: 13px;
}    

button {
    background-color: rgb(217, 187, 149);
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: white;
    border: rgb(114, 101, 84) solid;
}

input {
    border: #f2ead9 solid;
    border-radius: 0.2rem;
}

input:focus {
    outline: none;
    border: rgb(141, 100, 53) solid;
    box-shadow: 2px 5px 4px -3px;
}

input:focus:valid {
    border-color: green;
}

input:focus:invalid {
    border-color: red;
}